<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Creá tu cuenta</title>
        <link rel="icon" href="img/logo-handshake.png">

        <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>                    

    <body>
        <header>
            <section class="top">
                <a class="logo" href="/"><img src="img/logo-mercado-liebre.svg"alt=""></a>
                <section class="search-bar">
                    <input type="search" placeholder="Buscar productos, marcas y más...">
                    <i class="fas fa-search"></i>
                </section>
                <p class="cuotasTarjeta"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </section>
            <nav>
                <section class="navbar-site">
                    <ul class="sites">
                        <li> <a href="/ofertas">Ofertas</a></li>
                        <li> <a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                        <li> <a href="/vender">Vender</a></li>
                        <li> <a href="/ayuda">Ayuda</a></li> 
                    </ul>
                </section>
                <section class="navbar-login">
                    <ul class="sites">
                        <li><a href="/crea-tu-cuenta">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li class="ingresa"><a href="/ingresa">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="/mis-compras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </section>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        
        <main>
            <section class="register">
                <h2>Creá tu cuenta</h2>
                <form action="#" method="POST">
                    <p>
                        <input class="textbox" type="text" name="name" id="register-name" placeholder="Nombre y apellido">
                    </p>
                    <p>
                        <input class="textbox" type="text" name="username" id="register-username" placeholder="Nombre de usuario">
                    </p>
                    <p>
                        <input class="textbox" type="email" name="email" id="register-email" placeholder="E-Mail">
                    </p>
                    <p>
                        <label class="form-title" for="birthdate">
                            Fecha de nacimiento
                        </label>
                        <input class="textbox" type="date" name="birthdate" id="register-birthdate" placeholder="Fecha de nacimiento">
                    </p>
                    <p>
                        <input class="textbox" type="text" name="adress" id="register-adress" placeholder="Domicilio">
                    </p>
                    <p>
                        <label class="form-title" for="user-profile">
                            Perfil del usuario
                        </label>
                        <label class="selectors-label">
                            <input class="selectors" type="radio" name="user-profile" id="buyer">
                            Comprador
                        </label>
                        <label class="selectors-label">
                            <input class="selectors" type="radio" name="user-profile" id="seller">
                            Vendedor
                        </label>
                    </p>
                    <p class="form-interests">
                        <label class="form-title" for="interests">
                            Intereses
                        </label>
                        <label class="selectors-label">
                            <input class="selectors" type="checkbox" name="interests" id="Electro">
                            Electro
                        </label>
                        <label class="selectors-label">
                            <input class="selectors" type="checkbox" name="interests" id="Moda">
                            Moda
                        </label>
                        <label class="selectors-label">
                            <input class="selectors" type="checkbox" name="interests" id="Hogar">
                            Hogar
                        </label>
                        <label class="selectors-label">
                            <input class="selectors" type="checkbox" name="interests" id="Juguetería">
                            Juguetería
                        </label>
                        <label class="selectors-label">
                            <input class="selectors" type="checkbox" name="interests" id="Vida-sana">
                            Vida sana
                        </label>
                    </p>
                    <p class="form-profile-pic">
                        <label class="form-title" for="user-profile">
                            Foto de perfil
                        </label>
                        <input type="file" name="profile-pic" id="profile-pic">          
                    </p>
                    <p>
                        <input class="textbox" type="password" name="password" id="register-password" placeholder="Contraseña">
                    </p>
                    <p>
                        <input class="textbox" type="password" name="confirm-password" id="register-confirm-password" placeholder="Confirmar contraseña">
                    </p>
                    <p class="form-buttons">
                        <button type="reset">
                            <a href="/crea-tu-cuenta">Borrar</a>
                        </button>
                        <button type="submit">
                            <a href="/">Registrarse</a>
                        </button>
                    </p>
                </form>
            </section>
        </main>
        <footer>
            <article class="perks">
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="perks">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="perks">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
            <article class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </footer>
    
    </body>
</html>