<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a MercadoLiebre</title>
    <link rel="icon" href="img/logo-mercado-liebre.svg"> <!-- Icono de pestaña -->
</head>
<body>

    <header>
        <img src="img/logo-mercado-liebre.svg" alt="">
        <h5>Barra de búsqueda</h5>
        <h4>Comprá en cuotas y sin tarjeta de crédito</h4>

        <nav>
            <ul>
                <li> <a href="/ofertas">Ofertas</a></li>
                <li> <a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                <li> <a href="/vender">Vender</a></li>
                <li> <a href="/ayuda">Ayuda</a></li>
                <br>
                <li> <a href="/crea-tu-cuenta">Creá tu cuenta</a></li>
                <li> <a href="/ingresa">Ingresá</a></li>
                <li> <a href="/mis-compras">Mis compras</a></li>
            </ul>
        </nav>
    </header>

    <img src="img/img-home-banner.jpg" alt="">

    <section>
        <header>
            <h2>Basado en tu última visita</h2>
        </header>

        <img src="img/img-cafetera-moulinex.jpg" alt="">
        <div>$6.770</div>
        <div>40% off</div>
        <div>Cafetera Moulinex</div>

        <img src="img/img-macbook-pro-2019.jpg" alt="">
        <div>$230.000</div>
        <div>20% off</div>
        <div>MacBook Pro 2019</div>

        <img src="img/img-samsung-galaxy-s10.jpg" alt="">
        <div>$70.500</div>
        <div>10% off</div>
        <div>Samsung Galaxy S10</div>

        <img src="img/img-tv-samsung-smart.jpg" alt="">
        <div>$23.200</div>
        <div>5% off</div>
        <div>SmartTv Samsung 43"</div>
    </section>
    
    <section>
        <header>
            <h2>Ofertas</h2>
        </header>

        <img src="img/img-cafetera-moulinex.jpg" alt="">
        <div>$6.770</div>
        <div>40% off</div>
        <div>Cafetera Moulinex</div>

        <img src="img/img-macbook-pro-2019.jpg" alt="">
        <div>$230.000</div>
        <div>20% off</div>
        <div>MacBook Pro 2019</div>

        <img src="img/img-samsung-galaxy-s10.jpg" alt="">
        <div>$70.500</div>
        <div>10% off</div>
        <div>Samsung Galaxy S10</div>

        <img src="img/img-tv-samsung-smart.jpg" alt="">
        <div>$23.200</div>
        <div>5% off</div>
        <div>SmartTv Samsung 43"</div>

    </section>

    <footer>
       <section>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <h4>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</h4>
       </section>
       <br>
       <section>
        <h4>Envío gratis desde $ 2.500</h4>
        <h4>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Punto</h4>
       </section>
       <br>
       <section>
        <h4>Seguridad, de principio a fin</h4>
        <h4>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</h4>
       </section>
       <br>
       <h4> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

    </footer>

</body>
</html>