*{
    margin: 0px;
    padding: 0px;
}

:root {
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666666;
    --light-gray: #ebebeb;
    --green: #39b54a;
    --base-font-family: 'Roboto', sans-serif}

body {
    background-color: var(--light-gray);
    font-family: var(--base-font-family); 
    /* o font-family: 'Roboto', sans-serif; */
}

body main section header {
    background-color: var(--light-gray);
}

.titulares {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
    font-weight: normal;
}

p {
    font-size: 12px;
}

div.top-header {
    padding: 5%;
}

header {
    background-color: var(--yellow);
}

header div.logo {
    width: 50%;
    padding: 10px;
}

header nav {
    font-size: 12px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: black
}

header.form.input {
    background-color: white;
    border: 1px solid black;
    outline: none;
    color: var(--gray);
    padding: 2px;
}

header.form.sumbit {
    background-color: white;
    border: 1px solid black;
    color: var(--gray);
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.burger-menu {
    text-align: center;
}

.burger-menu i {
    color: var(--light-gray);
    background-color: var(--light-blue);
    padding: 10px;
    margin: auto;
    border-radius: 6px;
    font-size: 20px;
}

article div.main-article {
    width: 100%;
}

footer {
    text-align: center;
}

footer div.iconos-footer {
    color: var(--light-blue);
    size: 2em;
    margin-bottom: 10px;
}

